<form [formGroup]="form" (ngSubmit)="submit()">
  <label for="employeeName">Select Name</label>
  <select formControlName="employeeName" id="employeeName">
    <option
      *ngFor="let employeeName of employeesNames; let i = index"
      [value]="employeeName.name"
    >
      {{ employeeName.name }}
    </option>
  </select>

  <label for="timeEnd">Select Date</label>
  <input type="date" />

  <label for="timeStart">Select Time Start</label>
  <select formControlName="timeStart" id="timeStart">
    <option
      *ngFor="let timeStart of timeStarts; let i = index"
      [value]="timeStart.timeStart"
    >
      {{ timeStart.timeStart }}
    </option>
  </select>

  <label for="timeEnd">Select Time End</label>
  <select formControlName="timeEnd" id="timeEnd">
    <option
      *ngFor="let timeEnd of timeEnds; let i = index"
      [value]="timeEnd.timeEnd"
    >
      {{ timeEnd.timeEnd }}
    </option>
  </select>

  <button>Submit</button>
</form>
